/*NOEMI GOMES DE OLIVEIRA _ 3c. 30/08/25*/


html {
    scroll-behavior: smooth;
}

:root {
    --alto-contraste-fundo: #000000;
    --alto-contraste-texto: #ffffff;
    --alto-contraste-link: #c8de9d;
}

body {
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.titulo {
    margin: 80px 0 0 50px;
    padding: 0 0 20px 0;
    color:#f7c9d4;
    border-bottom: #000000 solid 1px;
}

.navbar {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #000000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar a {
    padding: 15px 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    border-right: 1px solid #ffffff;
}

.navbar a:last-child {
    border-right: none;
}

.intro-section {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 40px;
    background-color: #ffffff;
    padding-top: 100px;
    border-bottom: #000000 solid 1px;
}

.intro-image {
    flex: 1;
    min-width: 300px;
}

.intro-image img {
    height: 400px;
    margin-left: 60px;
    display: block;
}

.intro-text {
    flex: 1;
    min-width: 300px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-text h1 {
    font-family: 'Playfair Display', serif;
    color: #000000;
    margin-bottom: 20px;
}

.intro-text p {
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    line-height: 1.6;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 40px;
    background-color: #ffffff;
    border-bottom: #000000 solid 1px;
}

.about-image {
    flex: 1;
    min-width: 300px;
}

.about-image img {
    width: 380px;
    height: auto;
    margin-left: 90px;
    display: block;
}

.about-text {
    flex: 1;
    min-width: 300px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin-bottom: 20px;
}

.about-text p {
    color: #000000;
    line-height: 1.6;
}

#imagemnoh {
    border-radius: 100%;
}

.violin-section {
    display: flex;
    overflow: hidden;
    gap: 50px;
    padding: 20px 50px;
}

.containerviolino {
    margin: 50px 0;
    border: #000000 solid 2px;
    border-radius: 10px;
    padding: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    h3 {
        text-transform: capitalize;
    }
    button {
        background-color: #f7c9d4;
        border: #000000 solid 1px;
        border-radius: 30px;
        padding: 10px;
    }
}


#violinotitulo {
    margin: 50px 30px 0 50px;
}

.contatos {
    background-color: #ffffff;
    padding: 40px 40px;
    text-align: center;
    border-top: #000000 solid 1px;

}

.contatos-titulo {
    font-family: 'Playfair Display', serif;
    color: #000000;
    margin-bottom: 40px;
}

.contatos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    height: 400px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 70%;
    height: auto;
    object-fit: cover;
    margin-top: 10px;

}

.card h3 {
    font-family: 'Playfair Display', serif;
    color: #000000;
    margin: 16px 0 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card p {
    color: #000000;
    padding: 0 16px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.historia-section {

    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
}

.historia-section h2 {
    color: #000000;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.historia-section p {
    color: #000000;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.image-his {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-his img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.2s;
}

.image-his img:hover {
    transform: scale(1.05);
}

.curiosidades {

    margin-top: 40px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      
}

.curiosidades h2 {
    color: #f7c9d4;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    border-bottom: #000000 solid 1px;

}

.conteudo-curiosidades {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.curiosidades ul {
    list-style: none;
    padding: 0;
      border-bottom: #000000 solid 1px;

}

.curiosidades li{
    margin-bottom: 10px;
    line-height: 1.6;
    padding-left: 10px;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


  .imagem-partitura { 
  width: 200px;
  height: auto;
  border-radius: 10px;
  justify-content: center;


  }




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #fdfdfd;
    color: #222;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h2 {
    color: #f7c9d4;
    font-family: 'Playfair Display', serif;
}

.intro {
    max-width: 700px;
    margin: 20px 0 30px 0;
    color: #555;
    text-align: justify;
}


.violinista {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.violinista:hover {
    transform: scale(1.02);
}


.violinista img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


.violinista .info {
    max-width: 600px;
}

.violinista h3 {
    margin-bottom: 5px;
    color: var(--alto-contraste-link);
}

.violinista p {
    color: #444;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #222;
    padding: 20px;
}


header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    margin-bottom: 10px;
    color: #c8de9d;
    font-family: 'Playfair Display', serif;
}

header p {
    color: #555;
}

.partituras {   
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.partitura {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.partitura img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}


.partitura .info {
    flex: 1;
}

.partitura h3 {
    margin-bottom: 5px;
}

.partitura p {
    color: #555;
    line-height: 1.5;
}

 button{
    background-color: #f7c9d4;
    color: white;
    border: #000000 solid 1px;
    border-radius: 10px;
    padding: 8px;
    font-weight: 600;
}

.menu-acessibilidade{
    position: fixed;
    top: 2rem;
    right: 20px;
    z-index: 1000;
}

.rotaçao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opçoes-acessibilidade{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.opçoes-acessibilidade button{
    margin-bottom: 5px;
}

.apresenta-lista{
    display: none;
}

.alto-contraste{
    background-color:var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
    color: var(--alto-contraste-link);
}

.alto-contraste header h1 {
    color: var(--alto-contraste-link);
    border-bottom: var(--alto-contraste-texto) solid 1px;
}

.alto-contraste header button{
    background-color: var(--alto-contraste-link);
}

.alto-contraste .intro-section{
    background-color: var(--alto-contraste-link);
}

.alto-contraste .intro-text {
    color: var(--alto-contraste-texto);
}

.alto-contraste .about-section{
    background-color: var(--alto-contraste-link);
    color: var(--alto-contraste-texto);
    border-bottom: var(--alto-contraste-texto) solid 1px;
}

.alto-contraste .violin-section{
    color: var(--alto-contraste-texto);
    border-bottom: var(--alto-contraste-texto) solid 1px;
}

.alto-contraste .containerviolino{
    border: var(--alto-contraste-texto) solid 2px;
}

.alto-contraste .containerviolino button{
    border: var(--alto-contraste-texto) solid 1px;
    background-color: var(--alto-contraste-link);
}

.alto-contraste .contatos {
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

.alto-contraste .card{
    background-color: var(--alto-contraste-link);
}

.alto-contraste .contatos-titulo{
    color: var(--alto-contraste-texto);
}

.alto-contraste .historia-section{
    background-color: var(--alto-contraste-link);
}

.alto-contraste .curiosidades{
    background-color: var(--alto-contraste-fundo);
    border-bottom: var(--alto-contraste-texto) solid 1px;
}

.alto-contraste .curiosidades h2{
    color: var(--alto-contraste-link);
    border-bottom: var(--alto-contraste-texto) solid 1px;
}

.alto-contraste .partitura {
    background-color: var(--alto-contraste-fundo);
    border: solid 2px var(--alto-contraste-texto);
}

.alto-contraste .partitura h3 {
    color: var(--alto-contraste-link);
}

.alto-contraste .partitura p {
    color: var(--alto-contraste-texto);
}

.alto-contraste header p{
    color: var(--alto-contraste-texto);
}

.alto-contraste header h2 {
    color: var(--alto-contraste-link);
}

.alto-contraste .intro {
    color: var(--alto-contraste-texto);
}

.alto-contraste .info{
    background-color: var(--alto-contraste-fundo);
}

.alto-contraste .violinista {
    background-color: var(--alto-contraste-fundo);
    border: solid 2px var(--alto-contraste-texto);
}

.alto-contraste .violinista h3 {
    color: var(--alto-contraste-link);
}

.alto-contraste .violinista p {
    color: var(--alto-contraste-texto);
}